/* @import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap"); */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  font-family: Inter, sans-serif;
  font-feature-settings: "liga" 1, "calt" 1; //fix for Chrome
} */
/* @supports (font-variation-settings: normal) {
  :root {
    font-family: InterVariable, sans-serif;
  }
} */

:root {
  font-family: "Work Sans", sans-serif;
  /* font-feature-settings: "liga" 1, "calt" 1; */
}

.scroll-to-bottom {
  position: relative;
}

.rscroll-to-bottom {
  height: 100%;
  overflow-y: auto;
  width: 100%;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@media (max-width: 720px) {
  pre {
    width: calc(100vw - 110px);
  }
}

pre:has(div.code) {
  padding: 0;
  margin: 0;
}

markdown-processing {
  white-space: pre-wrap;
  word-wrap: break-word;
}

.ant-input {
  font-size: 14px !important;
  font-family: "Work Sans" !important;
  font-weight: 400 !important;
}

.light .ant-input {
  background: #fff !important;
  border-color: #e9efe6 !important;
}

.dark .ant-input {
  background: #0e1320;
  border-color: #0e1320;
}

/* .light .ant-input-affix-wrapper {
  background: #f8f8f8 !important;
  border-color: #f8f8f8 !important;
} */

.dark .ant-input-affix-wrapper {
  background: #0e1320;
  border-color: #0e1320;
}

/* remove background on placeholder */
.ant-input-affix-wrapper .ant-input {
  background: transparent;
}
.ant-form-item-control-input .ant-input::placeholder,
.ant-input-affix-wrapper .ant-input::placeholder {
  font-family: "work sans", sans-serif;
  font-size: 15px;
  font-weight: 400;
}

/* Theme the input state theme for ant design*/
.ant-input:hover,
.ant-input:focus,
.ant-input:active {
  border-color: #d0eac1 !important;
  box-shadow: none !important;
}

.ant-input-affix-wrapper.ant-input-password:hover,
.ant-input-affix-wrapper.ant-input-password:focused,
.ant-input-affix-wrapper.ant-input-password:active {
  border-color: #d0eac1 !important;
}

.ant-input-password:hover,
.ant-input-password:focused,
.ant-input-password:active {
  border-color: #d0eac1 !important;
}

.ant-input-affix-wrapper:not(.ant-input-affix-wrapper-disabled):hover {
  border-color: #d0eac1 !important;
}

.ant-input-affix-wrapper:focus,
.ant-input-affix-wrapper-focused {
  border-color: #d0eac1 !important;
}

/* make focus 0 without any border */
.ant-select-selection-search-input {
  border: none !important;
  box-shadow: none !important;
}
.dark .ant-select-selector {
  background-color: #121826 !important;
  border-color: #121826 !important;
}

.light .ant-select-selector {
  background: #fff !important;
  border-color: #e9efe6 !important;
  box-shadow: 0 1px 2px 0 rgb(228, 229, 231, 0.24);
}

.ant-select-selection-item {
  font-size: 14px;
  font-family: "Work Sans";
}
